.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height:190px;
}
.form input{
    width:20%;
    height: 2em;
    border-style: none;
    border-radius: 3px;
    border: 2px solid #f98155;
    margin-bottom: 1em;
    
}
.form p{
    font-size:1.5;
    font-weight: bold;
    text-align: center;width:100%;
    width:20%;
    margin:auto;
    margin-bottom: 3em;
}
.pelc{
    text-align: center;
}